# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Ruby.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\unit-project\Ruby\.idea\.idea.Ruby\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
